.carousel {
  position: relative;
  overflow: hidden;
}

.carouselViewport {
  display: flex;
  overflow-x: hidden;
  transition: transform 0.5s ease-in-out;
}

.carouselSlide {
  flex: 0 0 100%;
  text-align: center;
  padding: 20px;
}

.activeSlide {
  transform: translateX(-100%);
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}
